@import url("./style.css");

.root {
	background-color: #fff;
	background-image: none;
}

.header {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 8px 0px;
	margin: 10px 0;
	&__logo {
		width: 64px;
		max-width: 100%;
		height: 64px;
	}
}
.main {
	&__block {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		display: flex;
		width: 100%;
		background-color: #fef6d8;
		align-items: center;
		justify-content: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	&__lock {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		color: #0ecb81;
		width: 24px;
		height: 24px;
		font-size: 24px;
		fill: #1e2329;
		fill: #0ecb81;
		width: 1em;
		height: 1em;
		margin-right: 4px;
	}

	&__verification {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		margin-right: 4px;
	}

	&__url {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}
	&__protocol {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		color: #0ecb81;
	}
}

.auth {
	box-sizing: border-box;
	max-width: 800px;
	margin: 0 auto;
	&__heading {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin: 80px 0px 0px 0px;
	}

	&__title {
		box-sizing: border-box;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		min-width: 0;
		font-weight: 600;
		font-size: 32px;
		line-height: 40px;
	}

	&__subtitle {
		box-sizing: border-box;
		padding: 0px 0px 0px 0px;
		margin: 12px 0px 0px 0px;
		min-width: 0;
		color: #474d57;
		font-weight: 400;
		font-size: 14px;
	}

	&__block {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 50px 0px 0px 0px;
	}

	&__form {
		box-sizing: border-box;
		width: 384px;
		display: flex;
		flex-direction: column;
	}
	&__form-input {
		height: 48px;
		box-sizing: border-box;
		margin: 0px;
		min-width: 0px;
		width: 100%;
		outline: none;
		border: 1px solid rgb(234, 236, 239);
		background-color: inherit;
		opacity: 1;
		color: rgb(30, 35, 41);
		font-size: 14px;
		padding-left: 12px;
		padding-right: 12px;
		margin: 0px 0px 24px 0px;
	}

	&__label {
		box-sizing: border-box;
		margin: 0px 0px 4px;
		min-width: 0px;
		display: flex;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		width: 100%;
		align-items: center;
		color: rgb(30, 35, 41);
		cursor: auto;
	}

	&__btn-submit {
		margin: 8px 0px 0px;
		appearance: none;
		user-select: none;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		font-family: inherit;
		text-align: center;
		text-decoration: none;
		outline: none;
		padding: 12px 24px;
		min-width: 80px;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		word-break: keep-all;
		color: rgb(33, 40, 51);
		border-radius: 4px;
		min-height: 24px;
		border: none;
		background-image: none;
		background-color: rgb(252, 213, 53);
		width: 100%;
	}

	&__qr-code {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0px 0px 0px auto;
	}
	&__qr-image {
		box-sizing: border-box;
		width: 200px;
	}
	&__qr-title {
		box-sizing: border-box;
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}
	&__qr-subtitle {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin-top: 16px;
		color: #474d57;
	}
}

.footer {
	text-align: center;
	&__text {
		box-sizing: border-box;
		margin: 0;
		min-width: 0;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		color: #474d57;
		text-align: center;
		padding: 12px;
	}
}
@media screen and (max-width: 1024px) {
	.auth {
		max-width: 100%;
		&__heading {
			padding-left: 24px;
		}
		&__form {
			padding-left: 24px;
		}
		&__qr-code {
			margin: 0px auto 0px 80px;
		}
	}
}

@media screen and (max-width: 767px) {
	.auth {
		max-width: 100%;
		&__heading {
			padding-left: 12px;
		}
		&__title {
			font-size: 24px;
			line-height: 32px;
		}
		&__subtitle {
			display: none;
		}
		&__form {
			width: 100%;
			padding-left: 12px;
			padding-right: 12px;
		}
		&__qr-code {
			display: none;
		}
	}
}

@media screen and (min-width: 767px) {
	.header {
		height: 64px;
		padding: 0px 16px 0px;
		&__logo {
			// height: 48px;
		}
	}
}
