//основные настройки для классов
//header
//footer

html,
body {
	// height: 100%;
	// overflow: auto;
}

body.stop {
	overflow: hidden;
}

.root {
	background-image: linear-gradient(60deg, #dff1ff 0%, #e9f3ff 70%, #f7faff 100%);
	position: relative;
	background-color: #eff8ff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-width: 320px;
	font-family: "Inter", sans-serif;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
